<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-6">
      <h1>Championnats du Rhone</h1>
    </div>
    <div class="col-md-6">
      <p>
        <i class="fa fa-info-circle"></i>
        <small>
          Vous souhaiter intégrer une équipe de façon régulière ou ponctuelle ?<br>
          Bienvenue, contactez-nous.<br>
          <a href="mailto:mailto:ampuistennisclub@gmail.com?subject=ChampionnatEquipe"><i class="fa fa-envelope-o"></i> ampuistennisclub@gmail.com</a>
        </small>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img src="images/tennis_003_150x150.jpg"  alt="" />
      <img src="images/tennis_002_150x150.jpg"  alt="" />
    </div>
    <div class="col-md-8">
      <h3 class="text-center">Championnat Individuel</h3>
      <p>
        Comme chaque saison, nous invitons l’ensemble des joueurs de tennis licenciés dans le Rhône et la Métropole de Lyon à s’inscrire à nos Championnats Individuels.<br>
Pour rappel, l’intérêt de ces championnats, au-delà de la simple compétition, est de tenter de représenter le Rhône et la Métropole de Lyon lors des individuels du Lyonnais, voire mieux : se qualifier pour les phases finales, jouées à Roland Garros !
De plus, nous vous rappelons que côté  classement, chaque match gagné en tableau lors d’un championnat rapporte 15 points supplémentaires en fin de saison (dans la limite de 45 points).<br>
      </p>
      <p class="text-right">
        <a href="http://comite-rhone-tennis.com/competitions/championnats-individuels.html" target="_blank"></i><i class="fa fa-info-circle"></i> comite-rhone-tennis.com</a>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid bg-green text-center">
  <h3>Fair-play</h3>
  <p>
     Respect des règles et des autres, civisme, non violence, sens du collectif.
  </p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img src="images/championat_equipe_2017-small.png" class="img-responsive" alt="" />
    </div>
    <div class="col-md-12">
      <p class="text-right">
        <a href="http://comite-rhone-tennis.com/competitions/equipes-seniorsplus.html" target="_blank"><i class="fa fa-info-circle"></i> comite-rhone-tennis.com</a>
      </p>
    </div>
  </div>
</div>
