

<div class="jumbotron jumbo-head">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Comité de direction</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-6">
      <p><strong>
        Ensemble construisons l'avenir de notre club.<br>
        Toute aide est la bienvenue.
      </strong></p>
    </div>
    <div class="col-md-6">
      <p><strong>
        Contactez nous<br><a href="mailto:mailto:ampuistennisclub@gmail.com?subject=AideBureau"><i class="fa fa-envelope-o"></i> ampuistennisclub@gmail.com</a>
      </strong></p>
    </div>        
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center">Bureau</h2>
      <dl class="dl-horizontal">
        <dt>Président</dt><dd>Olivier Draghi</dd>
        <dt>Vice-présidente</dt><dd>Marie-George Garcia</dd>
        <dt>Trésorier</dt><dd>Cyril Cartier</dd>
        <dt>Secrétaire</dt><dd>Patrick Arnaud</dd>
        <dt>Vice-secrétaire</dt><dd>Eric Dulger</dd>
      </dl>
    </div>
    <div class="col-md-8">
      <h2>Membres du comité d'administration</h2>
      <dl class="dl-horizontal">
        <dt>Directeur technique</dt><dd>Grégory Gudfin</dd>
        <dt>Resp. partenaires</dt><dd>Eric Dulger</dd>
        <br>
        <dt>Autres membres</dt><dd>Sébastien Perchicot</dd>
      </dl>
    </div>

  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center">Communication</h2>
      <dl class="dl-horizontal">
        <dt>Site internet</dt><dd>Olivier Draghi</dd>
        <br>
        <dt>Newsletter</dt><dd>Eric Dulger<br>Norbert Paglia<br>Olivier Draghi<br></dd>
        <dt>Facebook</dt><dd>Pierre-Antoine Hénon</dd>
      </dl>
    </div>
  </div>
</div>
