<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Contacts</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h4>Président</h4>
      <h3 class="text-primary">Olivier Draghi</h3>
      <h4 class="text-primary"><i class="fa fa-phone"></i> 06 03 93 12 26</h4>
    </div>
    <div class="col-md-3">
      <h4>Trésorier</h4>
      <h3 class="text-primary">Cyril Cartier</h3>
      <h4 class="text-primary"><i class="fa fa-phone"></i> 06 88 81 19 56</h4>
    </div>
    <div class="col-md-3">
      <h4>Directeur technique</h4>
      <h3 class="text-primary">Grégory Gudfin</h3>
      <h4 class="text-primary"><i class="fa fa-phone"></i> 06 64 64 16 67</h4>
    </div>
    <div class="col-md-3">
      <h4>Responsable partenaires</h4>
      <h3 class="text-primary">Eric Dulger</h3>
      <h4 class="text-primary"><i class="fa fa-phone"></i> 06 75 70 17 36</h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><a href="mailto:mailto:ampuistennisclub@gmail.com?subject=Contact"><i class="fa fa-envelope-o"></i> ampuistennisclub@gmail.com</a></h2>
      <address>
        <strong>Ampuis Tennis Club</strong><br>
        Stade de Verenay<br>
        69420 Ampuis<br>
      </address>
    </div>
  </div>
</div>
