<div class="jumbotron jumbo-head">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Ecole de tennis</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2>Enseignants</h2>
      <p>
        <strong>Enseignant diplômés d’état:</strong><br>
        Gregory Gudfin – Responsable école de tennis
      </p>
      <p>
        <strong>CQP -Assistant Moniteur de Tennis:</strong><br>
        Alexis Gasselin<br>
        Jérôme Andriot<br>
        Pierre-Antoine Hénon<br>
        Romain Muraro
      </p>
      <p>
        <strong>Initiateurs:</strong><br>
       Alexandre Leteinturier<br>
       Bastien Cerino<br>
       Lisa Draghi
      </p>
    </div>
    <div class="col-md-8">
      <h2>Planning hebdomadaire</h2>
      <table class="table">
        <thead>
          <th>
            Jour
          </th>
          <th>
            Heure
          </th>
          <th>
            Enseignant
          </th>
          <th>
            Cours
          </th>
        </thead>
        <tbody>
          <tr>
            <td>Lundi</td><td>19h00 20h30</td><td>Greg & Alexis</td><td>Compétition femmes</td>
          </tr>
          <tr>
            <td>Lundi</td><td>20h30 22h00</td><td>Greg</td><td>Compétition hommes équipe 1 </td>
          </tr>
          <tr class="success">
            <td>Mardi</td><td>17h30 19h00</td><td>Greg & Pierre-Antoine</td><td>Niveau vert + début balle dure</td>
          </tr>
          <tr class="success">
            <td>Mardi</td><td>19h00 20h30</td><td>Greg & Pierre-Antoine</td><td>Compétition adolesent</td>
          </tr>
          <tr class="success">
            <td>Mardi</td><td>20h30 22h00</td><td>Greg & Pierre-Antoine</td><td>Loisir adultes mixte</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>14h00 15h30</td><td>Greg & initiateurs</td><td>Niveau rouge/orange débutant</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>15h30 17h00</td><td>Greg & initiateurs</td><td>Niveau vert et +12ans</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>17h00 18h30</td><td>Greg & initiateurs</td><td>Compétition adolesent</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>18h30 20h00</td><td>Jérôme & Pierre-Antoine</td><td>Femmes et adolesentes</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>20h00 21h30</td><td>Jérôme & Pierre-Antoine</td><td>Loisirs femmes</td>
          </tr>
          <tr class="success">
            <td>Vendredi</td><td>17h30 18h30</td><td>Pierre-Antoine</td><td>Filles</td>
          </tr>
          <tr class="success">
            <td>Vendredi</td><td>18h30 20h00</td><td>Jérôme & Romain</td><td>Niveau rouge/orange</td>
          </tr>
          <tr class="success">
            <td>Vendredi</td><td>20h00 21h30</td><td>Jérôme & Romain</td><td>Compétition hommes/ado équipe 2 </td>
          </tr>
          <tr>
            <td>Samedi</td><td>10h30 11h15</td><td>Alexis & initiateurs</td><td>Très petit 3/6 ans</td>
          </tr>
          <tr>
            <td>Samedi</td><td>11h15 12h45</td><td>Alexis & initiateurs</td><td>Loisir mixte 6/14ans</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Calendrier 2016-2017</h2>
      <img src="images/calendrier_ecole_2017.png" alt="" class="img-responsive" />
    </div>
  </div>

</div>
