<div class="jumbotron jumbo-head">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Ecole de tennis</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2>Enseignants</h2>
      <p>
        <strong>Enseignant diplômés d’état:</strong><br>
        Gregory Gudfin – Responsable école de tennis
      </p>
      <p>
        <strong>DE - Stagiaire:</strong><br>
        William Jan
      </p>
      <p>
        <strong>CQP - Assistant Moniteur de Tennis:</strong><br>
        Alexis Gasselin<br>
        Jérôme Andriot<br>
        Pierre-Antoine Hénon<br>
        Romain Muraro
      </p>
    </div>
    <div class="col-md-8">
      <h2>Planning hebdomadaire 2017-2018</h2>
      <table class="table">
        <thead>
          <th>
            Jour
          </th>
          <th>
            Heure
          </th>
          <th>
            Cours
          </th>
        </thead>
        <tbody>
          <tr>
            <td>Lundi</td><td>18h00 19h00</td><td>Carré Garçon 12-14ans</td>
          </tr>
          <tr>
            <td>Lundi</td><td>19h00 20h30</td><td>Compétition femmes</td>
          </tr>
          <tr>
            <td>Lundi</td><td>20h30 22h00</td><td>Compétition hommes</td>
          </tr>
          <tr class="success">
            <td>Mardi</td><td>17h30 19h00</td><td>Niveau vert + début balle dure</td>
          </tr>
          <tr class="success">
            <td>Mardi</td><td>19h00 20h30</td><td>Compétition adolesent</td>
          </tr>
          <tr class="success">
            <td>Mardi</td><td>20h30 22h00</td><td>Loisir adultes mixte</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>13h00 14h30</td><td>Niveau rouge/orange</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>14h30 16h00</td><td>Niveau orange/vert</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>16h00 17h30</td><td>Niveau vert et +12ans</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>17h30 19h00</td><td>Compétition adolesent mixte</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>19h00 20h00</td><td>Carré Garçon</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>20h00 21h30</td><td>Loisirs femmes</td>
          </tr>
          <tr>
            <td>Jeudi</td><td>19h00 20h00</td><td>Carré Garçon</td>
          </tr>
          <tr>
            <td>Jeudi</td><td>20h00 21h00</td><td>Carré Garçon</td>
          </tr>
          <tr class="success">
            <td>Vendredi</td><td>17h30 19h00</td><td>Niveau vert et +12ans</td>
          </tr>
          <tr class="success">
            <td>Vendredi</td><td>1900 20h30</td><td>Compétition adolesent</td>
          </tr>
          <tr class="success">
            <td>Vendredi</td><td>20h30 22h00</td><td>Compétition hommes</td>
          </tr>
          <tr>
            <td>Samedi</td><td>9h45 10h30</td><td>Très petit 3/6 ans</td>
          </tr>
          <tr>
            <td>Samedi</td><td>10h30 12h00</td><td>Loisir mixte 6/10ans</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Calendrier 2017-2018</h2>
      <img src="images/calendrier_ecole_2018.png" alt="" class="img-responsive" />
    </div>
  </div>

</div>
