<div class="jumbotron jumbo-head">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Ecole de tennis</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2>Enseignants</h2>
      <p>
        <strong>Enseignant diplômés d’état:</strong><br>
        Gregory Gudfin – Responsable école de tennis<br>
        Laura Ballandras
      </p>
      <p>
        <strong>CQP - Assistant Moniteur de Tennis:</strong><br>
        Alexis Gasselin<br>
        Pierre-Antoine Hénon<br>
      </p>
    </div>
    <div class="col-md-8">
      <h2>Planning hebdomadaire 2018-2019</h2>
      <table class="table">
        <thead>
          <th>
            Jour
          </th>
          <th>
            Heure
          </th>
          <th>
            Cours
          </th>
        </thead>
        <tbody>
          <tr>
            <td>Lundi</td><td>19h00 20h30</td><td>Compétition femmes</td>
          </tr>
          <tr>
            <td>Lundi</td><td>20h30 22h00</td><td>Compétition hommes</td>
          </tr>
          <tr class="success">
            <td>Mardi</td><td>17h30 19h00</td><td>Adolesent Débutant à 30/2</td>
          </tr>
          <tr class="success">
            <td>Mardi</td><td>19h00 20h30</td><td>Adolesent 30/1 et plus</td>
          </tr>
          <tr class="success">
            <td>Mardi</td><td>20h30 22h00</td><td>Loisir adultes mixte</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>14h00 15h30</td><td>Niveau rouge/orange</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>15h30 17h00</td><td>Niveau orange/vert et +12ans</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>17h00 18h30</td><td>Compétition mixte</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>18h30 20h00</td><td>Compétition mixte</td>
          </tr>
          <tr>
            <td>Mercredi</td><td>20h00 21h30</td><td>Loisirs femmes</td>
          </tr>
          <tr class="success">
            <td>Jeudi</td><td>-</td><td>-</td>
          </tr>
          <tr>
            <td>Vendredi</td><td>17h00 18h30</td><td>Compétition orange et vert</td>
          </tr>
          <tr>
            <td>Vendredi</td><td>18h30 20h00</td><td>Niveau vert et +12ans</td>
          </tr>
          <tr>
            <td>Vendredi</td><td>20h00 21h30</td><td>Compétition hommes</td>
          </tr>
          <tr class="success">
            <td>Samedi</td><td>9h00 10h30</td><td>Loisir mixte 6/10ans</td>
          </tr>
          <tr class="success">
            <td>Samedi</td><td>10h30 11h15</td><td>Très petit 3/6 ans</td>
          </tr>
          <tr class="success">
            <td>Samedi</td><td>11h15 12h45</td><td>Loisir mixte 6/10ans</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Calendrier 2018-2019</h2>
      <img src="images/calendrier_ecole_2019.png" alt="" class="img-responsive" />
    </div>
  </div>

</div>
