  <div class="jumbotron jumbo-head">
    <div class="container-fluid">
      <div class="col-md-12">
        <h1>Historique</h1>
      </div>
    </div>
 </div>
 <div class="container">
   <div class="row">
          <p><strong>
          Le 25 mai 2013, nous fêtions les 30 ans de l’association.<br>
          Comme souvent, la création fut l’idée d’un groupe d’amis désirant pratiquer le tennis sur leur commune.<br>
          Avec le soutien de l’équipe municipale d’alors, le club fut créé le 6 mai 1983.
        </strong></p>
   </div>
   <div class="row">
     <div class="col-md-6">
       <h4>Dates importantes</h4>
       <ul>
       <li>6 mai 1983 : Création du l’association Ampuis Tennis Club</li>
       <li>1984 : Construction de 2 terrains au stade de Verenay</li>
       <li>1986 : Construction du 3ème terrain</li>
       <li>1991 : Construction du club-house</li>
       <li>2011 : Record d'effectif avec 235 licenciés Juillet</li>
       <li>2012 : Rénovation des 3 courts</li>
       </ul>
     </div>
     <div class="col-md-6">
       <h4>Présidences</h4>
       <ul>
        <li>René Levet 1983 à 1987</li>
        <li>Jacques Mounier 1987 à 1988</li>
        <li>Bruno Lorton 1988 à 1991</li>
        <li>Alain Andriot 1991 à 1999</li>
        <li>Serge Barre 1999 à 2007</li>
        <li>David Lorton 2007 à 2008</li>
        <li>Jacques Gourdin 2008 à 2010</li>
        <li>Pierre-Jean Colombier 2010 à 2012</li>
        <li>Cyril Cartier 2012 à 2016</li>
        <li>Olivier Draghi depuis novembre 2016</li>
      </ul>
     </div>
  </div>
 </div>
