  <div class="jumbotron">
    <div class="container-fluid">
      <div class="col-md-12">
        <h1>Nos installations</h1>
        <p>
          Dans le complexe sportif de Verenay à l’entrée sud d’Ampuis, derrière le stade de rugby.<br>
          La mairie met à notre disposition les infrastructures suivantes.
        </p>
      </div>
    </div>
 </div>
 <div class="container-fluid">
   <div class="row">
     <div class="col-md-3">
       <h4>Club House</h4>
       <img src="images/club-house.jpg" alt="" class="img-thumbnail"/>
     </div>
     <div class="col-md-6">
       <h4>3 courts <small>en enrobé poreux avec éclairages</small></h4>
       <img src="images/courts.jpg" alt="" class="img-thumbnail"/>
     </div>
     <div class="col-md-3">
       <h4>Mur de jeu <small>en libre d’accès</small></h4>
       <img src="images/mur.jpg" alt="" class="img-thumbnail"/>
     </div>
  </div>
</div>
