


<div class="container-fluid "> 
  <div class="bg-parallax-1"></div>  
  <div class="jumbotron content-parallax">
    <h1>ampuis tennis club</h1>
  </div>
</div>
<div class="container-fluid container-main  grey-link">

  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <h3><a href="https://mon-espace-tennis.fft.fr/" target="_blank">Espace licencié</a></h3>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h3><a href="#!/reservation">Réservation de terrain</a></h3>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h3><a href="https://adoc.app.fft.fr/adoc/" target="_blank">Adoc</a></h3>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h3><a href="http://www.gs.applipub-fft.fr" target="_blank">Gestion sportive</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <h3><a href="http://tournoidefi.fr/" target="_blank">Défi de la vallée</a></h3>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h3><a href="http://www.fft.fr/" target="_blank">FFT</a></h3>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h3><a href="http://comite-rhone-tennis.com/" target="_blank">Comité du Rhone</a></h3>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h3><a href="http://www.ampuis.fr/" target="_blank">Mairie</a></h3>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey text-center">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1>Association à but non lucratif</h1>
      <div class="colored-line"></div>
      <p class="lead sub-heading">
        Nous cherchons à faire perdurer l’esprit sportif,
        familial et convivial qui est à l’origine du club et maintenons un équilibre entre le loisir et la compétition.
        Aujourd’hui, nous comptons plus de 170 licenciés dont 125 profitent de l’école de tennis.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 animation-element slide-left">
      <div class="thumbnail">
        <div class="caption">
          <h3><a href="#!/tournois"><i class="fa fa-child fa-4x"></i></a></h3>
          <h3>Compétition</h3>
          <p>Nos licenciés peuvent participer aux compétitions par équipe et en individuel, homologuées par la Fédération Française de Tennis.
Nous proposons divers tournois et animations tout au long de l'année dont le fabuleux tournoi interne.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 animation-element slide-left">
      <div class="thumbnail">
        <div class="caption">
          <h3><a href="#!/ecole"><i class="fa fa-graduation-cap fa-4x"></i></a></h3>
          <h3>Ecole</h3>
          <p>Nous sommes fier de notre école dynamique et joyeuse. Nous accueillons les enfants dès l'age de 3 ans.
Notre directeur technique, enseignant diplômé d'état ainsi que nos éducateurs assistants moniteurs et initiateurs, animent les cours par groupe de niveaux.
A chacun son rythme...</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 animation-element slide-left">
      <div class="thumbnail">
        <div class="caption">
          <h3><a href="#!/installations"><i class="fa fa-gamepad fa-4x"></i></a></h3>
          <h3>Loisirs</h3>
          <p>Nos 3 terrains et notre mur de jeux sont ouvert aux adhérents 24h/24 7j/7 en dehors des créneaux de lécole de tennis.</p>
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="container-fluid ">
  <div class="row text-center">
     <div class="col-md-12">
      <h1>Nos éducateurs</h1>
      <div class="colored-line"></div>      
    </div>
  </div>
  <div class="row text-center sub-heading  animation-element slide-left">
   <div class="col-xs-6 col-md-2 col-md-offset-1">
      <img src="/images/staff/greg.jpg" alt="Name" height="100" class="img-circle"/>
      <h4>Greg</h4>
    </div>
    <div class="col-xs-6 col-md-2">
      <img src="/images/staff/alexis.jpg" alt="Name" height="100" class="img-circle"/>
      <h4>Alexis</h4>
    </div>
    <div class="col-xs-6 col-md-2">
      <img src="/images/staff/zigo.jpg" alt="Name" height="100" class="img-circle"/>
      <h4>Pierre-Antoine</h4>
    </div>
    <div class="col-xs-6 col-md-2">
      <img src="/images/staff/romain.jpg" alt="Name" height="100" class="img-circle"/>
      <h4>Romain</h4>
    </div>
    <div class="col-xs-6 col-md-2">
      <img src="/images/staff/avatar.png" alt="Name" height="100" class="img-circle"/>
      <h4>Jérôme</h4>
    </div>      
  </div>
</div>



<div class="container-fluid "> 
  <div class="bg-parallax-2"></div>  
  <div class="jumbotron content-parallax-2">
    <h1></h1>
  </div>
</div>

<div class="container-fluid bg-orange text-center">
  <h2>Esprit sportif</h2>
  <p class="lead">
    Fair-play, respect des règles et des autres, civisme, non violence, sens du collectif.
  </p>
</div>


<div class="container-fluid "> 
  <div class="row">
    <div class="col-md-6">
      <h3>Notre Histoire</h3>
      <div class="colored-line-left"></div>      
      <p class="sub-heading animation-element slide-left">
        Le 25 mai 2013, nous fêtions les 30 ans de l’association.
        Comme souvent, la création fut l’idée d’un groupe d’amis désirant pratiquer le tennis sur leur commune.
        Avec le soutien de l’équipe municipale d’alors, le club fut créé le 6 mai 1983.
      </p>
    </div>
    <div class="col-md-6 animation-element slide-right">
      <img src="/images/atc_codir.jpg" alt="Notre Histroire" class="img-responsive"/>
    </div>      
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row text-center">
      <h1>Contacts</h1>
      <div class="colored-line"></div> 
  </div>
    
  <div class="row sub-heading text-center">
    <div class="col-md-3 animation-element slide-left">
      <h4>Trésorier</h4>
      <h3 class="text-primary">Cyril Cartier</h3>
      <h4 class="text-primary"><i class="fa fa-phone"></i> 06 88 81 19 56</h4>
    </div>
    <div class="col-md-3 animation-element slide-left">
      <h4>Président</h4>
      <h3 class="text-primary">Olivier Draghi</h3>
      <h4 class="text-primary"><i class="fa fa-phone"></i> 06 03 93 12 26</h4>
    </div>
    <div class="col-md-3 animation-element slide-right">
      <h4>Directeur technique</h4>
      <h3 class="text-primary">Grégory Gudfin</h3>
      <h4 class="text-primary"><i class="fa fa-phone"></i> 06 64 64 16 67</h4>
    </div>
    <div class="col-md-3 animation-element slide-right">
      <h4>Responsable partenaires</h4>
      <h3 class="text-primary">Eric Dulger</h3>
      <h4 class="text-primary"><i class="fa fa-phone"></i> 06 75 70 17 36</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><a href="mailto:ampuistennisclub@gmail.com?subject=Contact"><i class="fa fa-envelope-o"></i> ampuistennisclub@gmail.com</a></h2>
      <address>
        <strong>Ampuis Tennis Club</strong><br>
        Stade de Verenay<br>
        69420 Ampuis<br>
      </address>
    </div>
  </div>
</div>


<div class="container-fluid container-main">
  <div class="row text-center">
    <h1>Partenaires</h1>
    <div class="colored-line"></div>
  </div>
  <div class="row sub-heading animation-element slide-left">
    <div class="col-xs-3 col-md-2">
      <div class="thumbnail thumbnail-partenaires">
        <a href="http://www.buffin-tp.fr/" target="_blank">
         <img src="images/partenaires/buffin_tp_grey.png" alt=""/>
       </a>
      </div>
    </div>
    <div class="col-xs-3 col-md-2">
      <div class="thumbnail thumbnail-partenaires">
        <a href="http://girardon.bigmat.fr" target="_blank">
          <img src="images/partenaires/bigmat_grey.png" alt=""/>
        </a> 
      </div>
    </div>
    <div class="col-xs-3 col-md-2">
      <div class="thumbnail thumbnail-partenaires">
        <a href="https://www.caisse-epargne.fr/rhone-alpes" target="_blank">
          <img src="images/partenaires/ce-rhone-alpes_grey.png" alt=""/>
        </a> 
      </div>
    </div>
    <div class="col-xs-3 col-md-2">
      <div class="thumbnail thumbnail-partenaires">
        <a href="" target="_blank">
          <img src="images/partenaires/maison_relais_des_granges_boulanger_grey.png" alt=""/>      
        </a> 
      </div>
    </div>
    <div class="col-xs-3 col-md-2">
      <div class="thumbnail thumbnail-partenaires">
        <a href="http://www.atelierdecaroline.fr/" target="_blank">
          <img src="images/partenaires/atelier_de_caroline_grey.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-xs-3 col-md-2">
      <div class="thumbnail thumbnail-partenaires">
        <a href="https://www.boiscyril-fabricantportail.com" target="_blank">
          <img src="images/partenaires/bois_cyril_grey.png" alt=""/>
        </a> 
      </div>
    </div>
    <div class="col-xs-3 col-md-2">
      <div class="thumbnail thumbnail-partenaires">
        <a href="https://www.thymbusiness.fr/" target="_blank">
         <img src="images/partenaires/thym_grey.png" alt=""/>
       </a>        
      </div>
    </div>
    <div class="col-xs-3 col-md-2">
      <div class="thumbnail thumbnail-partenaires">
        <a href="http://kpimmobilier.fr" target="_blank">
          <img src="images/partenaires/kp_immobilier_grey.png" alt=""/>
        </a> 
      </div>
    </div>
    <div class="col-xs-3 col-md-2">
      <div class="thumbnail thumbnail-partenaires">
        <a href="http://reseau.top-garage.fr/204872-ampuis-automobiles-sarl" target="_blank">
          <img src="images/partenaires/ampuis_auto_grey.png" alt=""/>
        </a> 
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  function parallax(){
      var scrolled = $(window).scrollTop();
      var parallaxHeight = 340;
      //var parallaxHeight = $('.content-parallax').attr('height');
      
      //var content2pos =  $('.content-parallax-2').position();
      //var content2currentPosition = content2pos.top-scrolled;
      var content2currentPosition = $('.content-parallax-2').position().top - scrolled;

      // Parallax effect on the first bg-parallax
      $('.bg-parallax-1').css('height', (parallaxHeight - scrolled) + 'px');

      // For parallax bg 2
      if (content2currentPosition <0) {
        // Parallax effect when element is at the top of the windows.         
        $('.bg-parallax-2').css({
          'top': 0,
          'height': (parseInt(parallaxHeight) + content2currentPosition) + 'px'
          });        
      }else{
          $('.bg-parallax-2').css({
          'top': content2currentPosition + 'px'
          }); 
      }
  }

var $animation_elements = $('.animation-element');
var $window = $(window);

function check_if_in_view() {
  var window_height = $window.height();
  var window_top_position = $window.scrollTop();
  var window_bottom_position = (window_top_position + window_height);
 
  $.each($animation_elements, function() {
    var $element = $(this);
    var element_height = $element.outerHeight();
    var element_top_position = $element.offset().top;
    var element_bottom_position = (element_top_position + element_height);
 
    //check to see if this current container is within viewport
    if ((element_bottom_position >= window_top_position) &&
        (element_top_position <= window_bottom_position)) {
      $element.addClass('in-view');
    } else {
      $element.removeClass('in-view');
    }
  });
}

  $(function() {
    $(window).scroll(function(e){
      parallax();
      check_if_in_view();
    });
  });
</script>
