
<div class="container-fluid bg-white text-center">
  <div class="container-fluid bg-green text-center">
    <h3></h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="images/main-01.png" class="img-responsive" alt="" />
    </div>
    <!--

    <div class="col-md-7">
      <div class="container-fluid bg-orange text-center">
        <h3>News</h3>
      <p>
         Fête de Noël , On parle de nous dans les journaux
      </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="#news"><img class="img-responsive img-thumbnail" src="images/news/news_0006.jpg" alt="" /></a>
        </div>
        <div class="col-md-6">
          <h3>Le Progrès - 22 Novembre 2016</h3>
          <a href="#presse"><img src="images/presse/20161122_progres.jpeg" alt="Progres 22 Novembre 2016" class="img-responsive"/></a>
        </div>
      </div>
    </div>
  -->
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3><a href="https://mon-espace-tennis.fft.fr/" target="_blank">Espace licencié</a></h3>
    </div>
    <div class="col-md-4">
      <h3><a href="#reservation">Réservation de terrain</a></h3>
    </div>
    <div class="col-md-4">
      <h3><a href="http://tournoidefi.fr/" target="_blank">Défi de la vallée</a></h3>
    </div>
  </div>
</div>

<div class="container-fluid bg-green text-center">
  <h3>Esprit sportif</h3>
<p>
   Fair-play, respect des règles et des autres, civisme, non violence, sens du collectif.
</p>
</div>

<div class="container-fluid bg-white text-center">
  <div class="row">
    <div class="col-md-4">
      <h3><a href="http://www.ampuis.fr/" target="_blank">Mairie</a></h3>
    </div>
    <div class="col-md-4">
      <h3><a href="http://www.fft.fr/" target="_blank">FFT</a></h3>
    </div>
    <div class="col-md-4">
      <h3><a href="http://comite-rhone-tennis.com/" target="_blank">Comité du Rhone</a></h3>
    </div>
  </div>
</div>
