<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Plan d'accès</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h2>Adresse</h2>
      <address>
        <strong>Ampuis Tennis Club</strong><br>
        Stade de Verenay<br>
        69420 Ampuis<br>
        <a href="mailto:#">ampuistennisclub@gmail.com</a>
      </address>
    </div>
    <div class="col-md-7">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2005.337388429243!2d4.831917126566741!3d45.50098163837806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2ed59e5e0a4c350d!2sTennis+Club+Ampuis!5e1!3m2!1sfr!2sfr!4v1473239101468"></iframe>
      </div>
    </div>
  </div>
</div>
