<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand img-responsive" data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/"><img src="images/logo.png" alt="ATC" /></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/news">News</a></li>
        <li class="dropdown">
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jouer <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/reservation">Réservation de terrain</a></li>
            <li role="separator" class="divider"></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/championnats">Championnats</a></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/tournois">Tournois</a></li>
            <!-- <li><a href="#!/loisirs">Loisirs</a></li> -->
          </ul>
        </li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/ecole">Ecole</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/tarifs">Tarifs</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/map">Plan</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Le Club <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/contacts">Contacts</a></li>
            <li role="separator" class="divider"></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/president">Mot du Président</a></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/codir">Comité de direction</a></li>
            <li role="separator" class="divider"></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/installations">Nos installations</a></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/histoire">Histoire</a></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/presse">Revue de presse</a></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/photo">Gallerie photo</a></li>
            <li role="separator" class="divider"></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="#!/partenaires">Nos Partenaires</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
