<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h1>News</h1>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <p>
          On en parle dans les journaux<br>
          <a href="#presse"><i class="fa fa-newspaper-o"></i> revue de presse</a>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          Suivez aussi notre actualité sur<br>
          <a href="https://www.facebook.com/Ampuis-Tennis-Club-1948475028710461" target="_blank"><i class="fa fa-facebook-square"></i> facebook</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6">
          <h3>Le Progrès - 22 Novembre 2016</h3>
          <a href="#presse"><img src="images/presse/20161122_progres.jpeg" alt="Progres 22 Novembre 2016" class="img-responsive"/></a>
        </div>
        <div class="col-md-6">
          <h3>Tenues 2017</h3>
          <p>
            Commandes cloturées le <strong>20 novembre</strong>.<br>En cours de distribution par le président.
          </p>
          <p>
            <img class="img-responsive img-thumbnail" src="images/news/news_0003.jpg" alt="" />
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h3>News Letters</h3>
      <blockquote>
        <h4>2016</h4>
        <ul>
        <li><a href="http://eepurl.com/cqC__P" target="_blank">Novembre 2016</a></li>
        <li><a href="http://eepurl.com/b7X4ob" target="_blank">Juillet 2016</a></li>
        <li><a href="http://eepurl.com/bXkKej" target="_blank">Avril 2016</a></li>
        <li><a href="http://eepurl.com/bUkG1X" target="_blank">Mars 2016</a></li>
        <li><a href="http://eepurl.com/bQQblf" target="_blank">Février 2016</a></li>
        <li><a href="http://eepurl.com/bO-wLP" target="_blank">Janvier 2016</a></li>
        </ul>
        <h4>2015</h4>
        <ul>
        <li><a href="http://eepurl.com/bK9fnP" target="_blank">Décembre 2015</a></li>
        <li><a href="http://eepurl.com/bG3zzz" target="_blank">Novembre 2015</a></li>
        <li><a href="http://eepurl.com/bCEeOX" target="_blank">Octobre 2015</a></li>
        <li><a href="http://eepurl.com/bqwI9T" target="_blank">Juin 2015</a></li>
        <li><a href="http://eepurl.com/bnHxN5" target="_blank">Mai 2015</a></li>
        <li><a href="http://eepurl.com/bkiRVv" target="_blank">Avril 2015</a></li>
        <li><a href="http://eepurl.com/bg_f4z" target="_blank">Mars 2015</a></li>
        <li><a href="http://eepurl.com/bewyP5" target="_blank">Février 2015</a></li>
        <li><a href="http://eepurl.com/bbQM-D" target="_blank">Janvier 2015</a></li>
        </ul>
        <h4>2014</h4>
        <ul>
        <li><a href="http://eepurl.com/_blsz" target="_blank">Décembre 2014</a></li>
        <li><a href="http://eepurl.com/8DkMP" target="_blank">Novembre 2014</a></li>
        <li><a href="http://eepurl.com/3QKhL" target="_blank">Octobre 2014</a></li>
        <li><a href="http://eepurl.com/3Akon" target="_blank">Septembre 2014</a></li>
        <li><a href="http://eepurl.com/ZfZXT" target="_blank">Juillet 2014</a></li>
        <li><a href="http://eepurl.com/W1W0r" target="_blank">Juin 2014</a></li>
        <li><a href="http://eepurl.com/UUijD" target="_blank">Mai 2014</a></li>
        <li><a href="http://eepurl.com/SP4Zz" target="_blank">Avril 2014</a></li>
        <li><a href="http://eepurl.com/QxkkH" target="_blank">Mars 2014</a></li>
        <li><a href="http://eepurl.com/OEhV5" target="_blank">Février 2014</a></li>
        <li><a href="http://eepurl.com/MnZHT" target="_blank">Janvier 2014</a></li>
        </ul>
        <h4>2013</h4>
        <ul>
        <li><a href="http://eepurl.com/K0OoP" target="_blank">Décembre 2013</a></li>
        <li><a href="http://eepurl.com/IEV5j" target="_blank">Novembre 2013</a></li>
        <li><a href="http://eepurl.com/GZUPP" target="_blank">Octobre 2013</a></li>
        <li><a href="http://eepurl.com/Fs0tT" target="_blank">Septembre 2013</a></li>
        <li><a href="http://eepurl.com/Cuc-n" target="_blank">Juillet 2013</a></li>
        <li><a href="http://eepurl.com/AU_eD" target="_blank">Juin 2013</a></li>
        <li><a href="http://eepurl.com/zE7-D" target="_blank">Mai 2013</a></li>
        <li><a href="http://eepurl.com/yaKQv" target="_blank">Avril 2013</a></li>
        <li><a href="http://eepurl.com/wUnGn" target="_blank">Mars 2013</a></li>
        <li><a href="http://eepurl.com/vsARb" target="_blank">Février 2013</a></li>
        <li><a href="http://eepurl.com/tYCSP" target="_blank">Janvier 2013</a></li>
        </ul>
      </blockquote>
    </div>
  </div>
</div>
