<div class="jumbotron jumbo-head">
  <div class="container-fluid">
    <div class="row">
        <h1>Partenaires</h1>
    </div>
  </div>
</div>
<div class="container-fluid bg-white">
  <div class="row">
     <div class="col-md-6 text-center">
            <h2>Eric Dulger</h2>
            <h4><i class="fa fa-phone"></i> 06 75 70 17 36</h4>
            <h4><a href="mailto:ampuistennisclub@gmail.com?subject=Partenariat"><i class="fa fa-envelope-o"></i> ampuistennisclub</a></h4>
      </div>
      <div class="col-md-6">
        <p>
          Nous remercions vivement nos partenaires actuels pour leur soutien moral et économique.
        </p>
      </div>
  </div>
</div>
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Devenez partenaire !</h2>
      <h4 class="text-center">Contactez notre responsable</h4>
    </div>
    <div class="col-md-6">
      <h3>Possibilités</h3>
        <ul>
          <li>Panneau publicitaire</li>
          <li>Logo sur notre newsletter mensuelle</li>
          <li>Logo sur cette page</li>
          <li>autre...</li>
        </ul>
    </div>
  </div>
</div>
<div class="container-fluid thumbnail-partenaires">
  <div class="row">
    <div class="col-xs-8">
      <div class="thumbnail thumbnail-partenaires bg-footer">
        <a href="http://www.tecnifibre.fr/" target="_blank">
         <img src="images/partenaires/tecnifibre_white.png" alt=""/>
       </a>
      </div>
    </div>
   <div class="col-xs-4">
      <div class="thumbnail thumbnail-partenaires">
        <a href="http://avantagetennis.fr/" target="_blank">
         <img src="images/partenaires/avantage_tennis.png" alt=""/>
       </a>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="images/partenaires/buffin_tp.png" alt="" class="img-responsive"/>
    </div>
    <div class="col-md-3">
      <img src="images/partenaires/bigmat.jpg" alt="" class="img-responsive"/>
    </div>
    <div class="col-md-3">
      <img src="images/partenaires/kp_immobilier.png" alt="" class="img-responsive"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="images/partenaires/ampuis_auto.png" alt="" class="img-responsive"/>
    </div>
    <div class="col-md-3">
      <img src="images/partenaires/maison_relais_des_granges_boulanger.jpg" alt="" class="img-responsive"/>
    </div>
    <div class="col-md-3">
      <img src="images/partenaires/atelier_de_caroline.jpg" alt="" class="img-responsive"/>
    </div>
    <div class="col-md-3">
      <img src="images/partenaires/ce-rhone-alpes.png" alt="" class="img-responsive"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img src="images/partenaires/bois_cyril.jpg" alt="" class="img-responsive"/>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
      <h1 class="text-center">Merci</h1>
  </div>
</div>