<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1>Partenaires</h1>
        <p>
          Nous remercions vivement nos partenaires actuels pour leur soutien moral et économique.
        </p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Devenez partenaire !</h2>
            <h4 class="text-center">Contactez notre responsable</h4>
          </div>
          <div class="col-md-6">

            <h3>Eric Dulger</h3>
            <h4><i class="fa fa-phone"></i> 06 75 70 17 36</h4>
            <h4><a href="mailto:ampuistennisclub@gmail.com?subject=Partenariat"><i class="fa fa-envelope-o"></i> ampuistennisclub</a></h4>
          </div>
          <div class="col-md-6">
            <h3>Possibilités</h3>
            <ul>
              <li>Panneau publicitaire</li>
              <li>Logo sur notre newsletter mensuelle</li>
              <li>Logo sur cette page</li>
              <li>autre...</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3>Buffin TP</h3>
      <img src="images/partenaires/buffin.jpg" alt="" class="img-thumbnail"/>
    </div>

    <div class="col-md-4">
      <h3>Thym business</h3>
      <img src="images/partenaires/thym.jpg" alt="" class="img-thumbnail"/>
    </div>
    <div class="col-md-4">
      <h3>Bigmat Girardon</h3>
      <img src="images/partenaires/bigmat.jpg" alt="" class="img-thumbnail"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>K et P immobilier</h3>
      <img src="images/partenaires/kp_immobilier.png" alt="" class="img-thumbnail"/>
    </div>
    <div class="col-md-4">
      <h3>Ampuis Auto</h3>
      <img src="images/partenaires/ampuis_auto.png" alt="" class="img-thumbnail"/>
    </div>
    <div class="col-md-4">
      <h3>Maison Relais des Granges</h3>
      <img src="images/partenaires/maison_relais_des_granges_boulanger.jpg" alt="" class="img-thumbnail"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>L'atelier de Caroline</h3>
      <img src="images/partenaires/atelier_de_caroline.jpg" alt="" class="img-thumbnail"/>
    </div>
    <div class="col-md-8">
      <h3>Bois Cyril</h3>
      <img src="images/partenaires/bois_cyril.jpg" alt="" class="img-thumbnail"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Caisse d'épargne</h3>
      <img src="images/partenaires/caisse_epargne.jpg" alt="" class="img-thumbnail"/>
    </div>
  </div>
</div>
