<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Revue de presse</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-4">
      <h3>Le Progrès - 22 Novembre 2016</h3>
      <a href="#!/presse"><img src="images/presse/20161122_progres.jpeg" alt="Progres 22 Novembre 2016" class="img-responsive"/></a>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <h3>Dauphiné / Le Progrès - 14 Novembre 2016</h3>
      <img src="images/presse/20161114_progres.png" alt="Progres 14 Novembre 2016" class="img-responsive"/>
    </div>

    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>Le Progrès - 7 décembre 2014</h3>
        <img src="images/presse/Progres_5_dec_2014.jpeg" alt="Progres 5 dec 2014" class="img-responsive">
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>Le Progrès - 23 septembre 2014</h3>
        <img src="images/presse/Progres_23_septembre_2014.png" alt="Progrès 23 septembre 2014" class="img-responsive">
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>Le Progrès - 4 septembre 2014</h3>
        <img src="images/presse/Progres_4_septembre_2014.jpg" alt="Progrès 4 septembre 2014" class="img-responsive">
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>Le Progrès - 23 juin 2014</h3>
        <img src="images/presse/progres_23_juin_2014.jpg" alt="progrès 23 juin 2014" class="img-responsive">
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>Le Progès - 17 juin 2014</h3>
        <img src="images/presse/Le_progres_17juin_2014.jpg" alt="Le progrès 17juin 2014" class="img-responsive">
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>Le Progrès - 1 janvier 2014</h3>
        <img src="images/presse/progres_1_janvier_2014.jpg" alt="progres 1 janvier 2014" class="img-responsive">
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>Le Progrès - 25 septembre 2013</h3>
        <img src="images/presse/progres_25-09-2013.jpg" alt="progrès 25-09-2013" class="img-responsive">
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>Le Progrès - 28 juin 2013</h3>
        <img src="images/presse/progres_28-06-2013.jpg" alt="progrès 28-06-2013" class="img-responsive">
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>La Tribune de Vienne - 14 juin 2013</h3>
        <img src="images/presse/Tribune_de_vienne_14-06-2013.jpg" alt="Tribune de vienne 14-06-2013" class="img-responsive">
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>Le Progrès - 27 mai 2013</h3>
        <img src="images/presse/progres_27-05-2013.jpg" alt="progrès 27-05-2013" class="img-responsive">
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>Le Progrès - 23 juin 2012</h3>
        <img src="images/presse/progres_23-12-2012.jpg" alt="progrès 23-12-2012" class="img-responsive">
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote text-center">
        <h3>Le Progrès - 12 décembre 2012</h3>
        <img src="images/presse/Progres_12-12-2011.jpg" alt="Progrés 12-12-2011" class="img-responsive">
      </blockquote>
    </div>
  </div>
</div>
