<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Mot du président</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
          Ampuis Tennis Club est une association à but non lucratif.<br>
          Nous cherchons à faire perdurer l’esprit sportif, familial et convivial qui est à l’origine du club et maintenons un équilibre entre le loisir et la compétition.
      </p>
      <p>
        Aujourd’hui, nous comptons plus de 170 licenciés dont 125 profitent de l’école de tennis.
      </p>
      <p>
        Nous sommes fier de notre école dynamique et joyeuse. Nous accueillons les enfants dès l'age de 3 ans.<br>
        Notre directeur technique, enseignant diplômé d'état ainsi que nos éducateurs assistants moniteurs et initiateurs, animent les cours par groupe de niveaux.<br>
        A chacun son rythme...
      <p>
        Nos licenciés peuvent participer aux compétitions par équipe et en individuel, homologuées par la Fédération Française de Tennis.<br>
        Nous proposons divers tournois et animations tout au long de l'année dont le fabuleux tournoi interne.<br>
        La vie du club est aussi faite de parties amicales sur nos 3 terrains mis à disposition par réservation sur internet.
      </p>
      <p>
        Je vous laisse parcourir ce site pour découvrir notre association.<br>
        N’hésitez pas, rejoingnez nous.
      </p>
      <p>
        Sportivement,<br><br>
        Olivier Draghi<br>
        <strong>Président d'ATC</strong>
      </p>
    </div>
  </div>
</div>
