<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-6">
      <h1>Réservation</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h4>
        <a href="https://mon-espace-tennis.fft.fr/" target="_blank"><i class="fa fa-external-link"></i> Espace licencié</a>
        ou <a href="https://adoc.app.fft.fr/adoc/" target="_blank"><i class="fa fa-external-link"></i> adoc</a>
      </h4>
      <p>
        Les réservations de terrain se font via l'outil de la fédération de tennis.<br>
      </p>
    </div>
    <div class="col-md-6">
      <h3>
        <i class="fa fa-info-circle"></i> Notice en bas de cette page.
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Météo</h2>
      <!-- http://www.meteocity.com/widget/ -->
      <div id="cont_NjkwMDd8NXw0fDR8MXw2ZjZmN2R8MXxGRkZGRkZ8Y3wx"><div id="spa_NjkwMDd8NXw0fDR8MXw2ZjZmN2R8MXxGRkZGRkZ8Y3wx"><a id="a_NjkwMDd8NXw0fDR8MXw2ZjZmN2R8MXxGRkZGRkZ8Y3wx" href="http://www.meteocity.com/france/ampuis_v69007/" target="_blank" style="color:#333;text-decoration:none;">Météo Ampuis</a> ©<a href="http://www.meteocity.com">meteocity.com</a></div><script type="text/javascript" src="http://widget.meteocity.com/js/NjkwMDd8NXw0fDR8MXw2ZjZmN2R8MXxGRkZGRkZ8Y3wx"></script></div>
      <!--
      <div id="cont_NjkwMDd8NXwzfDR8NHw4YTgyN2Z8MXxmZmZmZmZ8Y3wx"><div id="spa_NjkwMDd8NXwzfDR8NHw4YTgyN2Z8MXxmZmZmZmZ8Y3wx"><a id="a_NjkwMDd8NXwzfDR8NHw4YTgyN2Z8MXxmZmZmZmZ8Y3wx" href="http://www.meteocity.com/france/ampuis_v69007/" target="_blank" style="color:#333;text-decoration:none;">Météo Ampuis</a> ©<a href="http://www.meteocity.com">meteocity.com</a></div><script type="text/javascript" src="http://widget.meteocity.com/js/NjkwMDd8NXwzfDR8NHw4YTgyN2Z8MXxmZmZmZmZ8Y3wx"></script></div>
    -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Notice</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5># 1 Connectez vous ou créer votre compte</h5>
      <p>
        <a href="https://mon-espace-tennis.fft.fr/" target="_blank"><i class="fa fa-external-link"></i> Espace licencié</a>
      </p>
      <a href="https://mon-espace-tennis.fft.fr/" target="_blank"><img src="images/reservation/notice_01.png" alt="" class="img-responsive"/></a>
      <a href="https://mon-espace-tennis.fft.fr/user/register" target="_blank"><img src="images/reservation/notice_02.png" alt="" class="img-responsive"/></a>
    </div>
    <div class="col-md-6">
      <h5># 2 Cliquez sur le lien de réservation de terrain</h5>
      <p>
        (ou directement sur <a href="https://adoc.app.fft.fr/adoc/" target="_blank"><i class="fa fa-external-link"></i> adoc</a>)
      </p>
      <a href="https://adoc.app.fft.fr/adoc/" target="_blank"><img src="images/reservation/notice_03.png" alt="" class="img-responsive"/></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h5># 3 Choisir Tableau par jour</h5>
      <h5># 4 Sélectionner la journée souhaitée</h5>
      <h5># 5 Cliquez sur OK pour afficher la journée</h5>
      <h5># 6 Cliquez sur un créneau libre (en vert)</h5>
    </div>
    <div class="col-md-8">
      <img src="images/reservation/notice_04.png" alt="" class="img-responsive"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5># 7 Indiquez le 2ieme joueur</h5>
      <dl class="dl-horizontal">
        <img src="images/reservation/notice_05.png" alt="" class="img-responsive"/>
        <dt>Invitation</dt><dd>choisir <strong>Invitation</strong></dd>
        <dt>Joueur du club</dt><dd>choisir <strong>Adhésion (adulte ou enfant)</strong></dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h4><i class="fa fa-info-circle"></i> Remarques</h4>
        <ul>
          <li>Les invitations sont limités par un nombre de <strong><i class="fa fa-ticket"></i> tickets d' invitation</strong></li>
          <li>La recherche d'un joueur du club se fait par le nom de famille.</li>
          <li>Les joueurs recoivent un mail de confirmation de réservation</li>
          <li>Il est possible de supprimer une de vos reservations en cliquant dessus</li>
        </ul>
      </div>
    </div>
  </div>
</div>
