<div class="jumbotron jumbo-head">
  <div class="container-fluid">
      <h1>Tarifs</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Cotisation annuelle</strong></div>
         <div class="panel-body">
           <ul>
             <li>Licence FFT</li>
             <li>Adhésion au club</li>
             <li>Accès aux courts</li>
             <li>Accès à l'école de tennis</li>
           </ul>
           <table class="table">
             <thead>
               <th>
                 Cotisation individuelle
               </th>
               <th>
                 Prix
               </th>
             </thead>
             <tbody>
               <tr><td>adulte</td><td>75€</td></tr>
               <tr><td>enfant (-18ans)</td><td>50€</td></tr>
             </tbody>
           </table>
         </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Réductions famille</strong></div>
         <div class="panel-body">
           <table class="table">
             <thead>
               <th>
                 Condition
               </th>
               <th>
                 Réduction
               </th>
             </thead>
             <tbody>
               <tr><td>2 adhérents</td><td>- 20€</td></tr>
               <tr><td>3 adhérents</td><td>- 40€</td></tr>
               <tr><td>4 adhérents</td><td>- 70€</td></tr>
               <tr><td>5 adhérents</td><td>- 100€</td></tr>
             </tbody>
           </table>
           <p>
             Inclues les parents et enfants vivant au foyer ou étudiants non rémunérés jusqu'a 25 ans.
           </p>
         </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Réductions spécifiques</strong></div>
         <div class="panel-body">
           <table class="table">
             <thead>
               <th>
                 Condition
               </th>
               <th>
                 Réduction
               </th>
             </thead>
             <tbody>
               <tr><td>Membre d'honneur</td><td>- 25€</td></tr>
               <tr><td>Dirigeant non joueur</td><td>cotisation offerte</td></tr>
             </tbody>
           </table>
         </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Clé des courts</strong></div>
         <div class="panel-body">
           Caution <strong>5€</strong>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
     <div class="col-md-4">
       <div class="panel panel-default">
         <div class="panel-heading"><strong>Ecole de tennis</strong></div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>
                Formule
              </th>
              <th>
                Prix <small>annuel</small>
              </th>
            </thead>
            <tbody>
              <tr><td>25 séances x 45min</td><td>45€</td></tr>
              <tr><td>25 séances x 1h30</td><td>95€</td></tr>
            </tbody>
          </table>
          <p>
            Adhésion au club obligatoire.<br>
            Séances de cours collectifs encadrés par un éducateur diplômé d'état.
          </p>
        </div>
       </div>
     </div>
     <div class="col-md-8">
       <div class="panel panel-default">
         <div class="panel-heading"><strong>Pole espoir</strong></div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>
                Formule
              </th>
              <th>
                Prix <small>annuel</small>
              </th>
            </thead>
            <tbody>
              <tr><td>25 séances collectives 1h30 + 10 cours en binome 1h</td><td>170€</td></tr>
              <tr><td>25 séances collectives 1h30 + 10 cours individuel 1h</td><td>200€</td></tr>
              <tr><td>50 séances collectives 1h30 + 10 cours individuel 1h</td><td>290€</td></tr>
            </tbody>
          </table>
          <p>
            Adhésion au club obligatoire.<br>
            Cours collectifs et individuels encadrés par un éducateur diplômé d'état.<br>
          </p>
          <p>
            <strong>Conditions d'admission</strong><br>
            Nombre de place limitées.<br>
            Sur acte de candidature du licencié et sélection par le responsable sportif ATC parmi les candidats.<br>
            Signature d'une charte d'engagement respectifs.
          </p>
        </div>
       </div>
     </div>
   </div>
</div>
<div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-md-6">
         <h3><i class="fa fa-info-circle"></i> Mode de paiement</h3>
       </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Chèques</li>
            <li>Espèces</li>
            <li>Chèques vacances</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>Carte MRa</li>
            <li>Carte Jeune Isère</li>
          </ul>
        </div>
      </div>
</div>