<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Tournois</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>Calendrier des tournois</h3>
      <table class="table">
        <thead>
          <th>
            Date
          </th>
          <th>
            Tournoi
          </th>
        </thead>
          <tr><td>1 au 17 Septembre 2016</td><td>Qualification National tennis cup</td></tr>
          <tr><td>2 Novembre 2016</td><td>Mes premiers pas en match</td></tr>
          <tr><td>12 Novembre au 12 Mars 2016</td><td><a href="http://www.tournoidefi.fr/" target="_blank"><i class="fa fa-external-link"></i> Défi de la vallée</a></td></tr>
          <tr><td>5 Mai - 18 Juin 2017</td><td>Tournoi interne</td></tr>
          <tr><td>20 Mai 2017</td><td>Mes premiers pas en match</td></tr>
          <tr><td>23 Juin 9 Juillet 2017</td><td>Tournoi jeune</td></tr>
          <tr><td>1 et 2 Juillet 2017</td><td>Défi orange / vert</td></tr>
      </table>
    </div>
  </div>
</div>
